[diff]
    tool = kdiff3
[difftool]
    prompt = false
[difftool "kdiff3"]
    cmd = kdiff3 "$(wslpath -aw $LOCAL)" "$(wslpath -aw $REMOTE)"
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    cmd = kdiff3 "$(wslpath -aw $BASE)" "$(wslpath -aw $LOCAL)" "$(wslpath -aw $REMOTE)" --output "$(wslpath -aw $MERGED)"
[alias]
    co    = checkout
    br    = branch
    dt    = difftool
    df     = "!f() { git diff --color=always "$@" | less -p "^diff.*"; }; f"
    st    = status
    who   = shortlog -n -s --no-merges
    hist  = log --follow --
    cmt   = commit
    uncmt = reset --soft HEAD^
    rmcmt = reset --hard 
    lscmt = diff-tree --name-status -r
    dfcmt = "!f() { git diff --color=always "$1"~ "$@" | less -p "^diff.*"; }; f"
    dtcmt = !git dt $1~
    recmt = cmt --amend
    dfadd = !git diff --staged --color=always | less -p "^diff.*"
    dtadd = dt --staged
    unadd = reset
    head  = rev-parse --short HEAD
    lg     = log --decorate --color --graph --pretty=format:'%C(auto)%h %C(green)[%cd] %C(bold blue)%al%C(reset) -%C(auto)%d %s' --abbrev-commit --all --date=format:'%y-%m-%d %H:%M:%S'
    lgme  = lg --author=johnny.shehade@gmail.com
[user]
    email = johnny.shehade@gmail.com
    name = "Johnny Shehade"
[pull]
    rebase = true
[pager]
    branch = false
