[diff]
    tool = kdiff3
[difftool]
    prompt = false
[difftool "kdiff3"]
    cmd = kdiff3 "$(wslpath -aw $LOCAL)" "$(wslpath -aw $REMOTE)"
[merge]
    tool = kdiff3
[mergetool "kdiff3"]
    cmd = kdiff3 "$(wslpath -aw $BASE)" "$(wslpath -aw $LOCAL)" "$(wslpath -aw $REMOTE)" --output "$(wslpath -aw $MERGED)"
[alias]
    co    = checkout
    br    = branch
    dt    = difftool
    df    = difftool
    st    = status
    who   = shortlog -n -s --no-merges
    hist  = log --follow --
    cmt   = commit
    uncmt = reset --soft HEAD^
    rmcmt = reset --hard 
    cmtls = diff-tree --name-status -r
    cmtdf = !git difftool $1~
    adddf = df --staged
    unadd = reset
    mrgrq = !git push -f origin git rev-parse --abbrev-ref HEAD
    prcmt = rev-parse --short HEAD
    lg    = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    mlg   = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --author=johnny.shehade@intel.com
[user]
    email = johnny.shehade@gmail.com
    name = "Johnny Shehade"
[pager]
    branch = false